#searchBarText{
    width: 40%;
    height: 120%;
    padding: 15px 10px; 
}

#searchBarButton{
    width: 10%;
    padding: 15px 30px;
    background-color: rgb(82, 82, 249);
    border: none;
    border-color: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor:pointer;
}

#searchBarForm{
    margin-top: 5%;
    margin-left: 20%;
}

#tableDiv{
    float: left;
    margin-top: 2%;
    width: 60%;
}

#searchInstructions{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    background-color:rgb(255, 221, 227);
    width: 25%;
    padding: 10px 20px;
}

#dropDownSearch{
    margin-right: 2%;
    padding: 10px 20px;
}

.searchTitle{
    font-size: 140%;
    margin-left: 35%;
}